<input type="button" class="btn btn-default" (click)="addSeries('dolar')" value="Dolar" />
<input type="button" class="btn btn-default" (click)="addSeries('euro')" value="Euro" />
<input type="button" class="btn btn-default" (click)="addSeries('utm')" value="UTM" />
<input type="button" class="btn btn-default" (click)="addSeries('uf')" value="UF" />
<input type="button" class="btn btn-default" (click)="addSeries('tcm')" value="TCM" />
<input type="button" class="btn btn-default" (click)="addSeries('libra')" value="Libra" />
<input type="button" class="btn btn-default" (click)="addSeries('dolar_canadiense')" value="Dolar Canadiense" />
<input type="button" class="btn btn-default" (click)="addSeries('sol_peruano')" value="Sol-Peruano" />
<input type="button" class="btn btn-default" (click)="addSeries('real')" value="Real" />
<input type="button" class="btn btn-default" (click)="addSeries('peso_mexicano')" value="Peso Mexicano" />
<input type="button" class="btn btn-default" (click)="addSeries('peso_colombiano')" value="Peso Colombiano" />
<input type="button" class="btn btn-default" (click)="addSeries('peso_argentino')" value="Peso Argentino" />
<input type="button" class="btn btn-default" (click)="addSeries('franco')" value="Franco" />




